@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 10%;
    height: 100vh;
    background-color: #202020;
    justify-content: space-between;
    align-items: center;
    border-right: #ffd100 solid 1pt;
    box-shadow: inset -6px -6px 4px #1c1c1c,
            inset 6px 6px 4px #242424;
    ul{
        width: 100%;
        text-align: center;
        li{
            padding: 1rem;

            transition: ease-out 300ms;
            a{
                font-family: 'Abril Fatface', cursive;
                color: #f1f1f1;
                transition: ease-out 900ms;
            }

            &:hover{
                
                a{
                    color: #ffd100;
                }
            }
        }
    }

    .logo{
        width: 100%;
        height: 20%;
        text-align: center;
    }

    .footer{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        i:nth-child(1){
            color: #0077b5;
            font-size: 1.5rem;
        }
        i:nth-child(2){
            color: #000000;
            font-size: 1.5rem;
        }
        i:nth-child(3){
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
            font-size: 1.5rem;
        }
    }

}

